<nav class="top_menu">
    <ul>
      <li>
        <a href="/">Order Juices</a>
     </li>
     <li>
       <a href="/allorders">View Orders</a>
    </li>
    <li>
      <a href="/login">Login</a>
    </li>
    <li>
      <a href="/logout">Logout</a>
    </li>
    </ul>
 </nav>