<%- include('layouts/header'); -%>
  <%- include('layouts/nav'); -%>
  <section>
    <div class="formData">
        <p> <%= message %> </p>
    </div>
</section>
<footer id="footer">
  &copy; Copyright - Nan Zhang 
</footer>
<%- include('layouts/footer'); -%>